In [43]:
import pymysql
try:
	conexion = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             db='employees')
	print("Conexión correcta")
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
	print("Ocurrió un error al conectar: ", e)
    
def browse(consulta):
    try:
        with conexion.cursor() as cursor:
            # En este caso no necesitamos limpiar ningún dato
            cursor.execute(consulta)
             # Con fetchall traemos todas las filas
            todos = cursor.fetchall()
 
        # Recorrer e imprimir
        for dato in todos:
            print(dato)
    except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
        print("Ocurrió un error al conectar: ", e)

Conexión correcta

1er Ejercicio
Obtener los datos completos de los empleados.

In [ ]:
browse("SELECT * FROM employees;")

2do Ejercicio
Obtener los datos completos de los departamentos.

In [44]:
browse("SELECT * FROM departments")

('d009', 'Customer Service')
('d005', 'Development')
('d002', 'Finance')
('d003', 'Human Resources')
('d001', 'Marketing')
('d004', 'Production')
('d006', 'Quality Management')
('d008', 'Research')
('d007', 'Sales')

 3er Ejercicio
Obtener la cantidad de empleados de sexo femnino.

In [ ]:
try:
    with conexion.cursor() as cursor:
        consulta="SELECT * FROM employees WHERE gender= %s;"
        cursor.execute(consulta,("F"))
        mujeres = cursor.fetchall()
 
    # Recorrer e imprimir
        for sexo in mujeres:
            print(sexo)
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

4to Ejercicio
Obtener los empleados que son o han sido "staff". Recordar que es una consulta multi tablas.

In [ ]:
try:
    with conexion.cursor() as cursor:
        consulta="SELECT employees.first_name, employees.last_name FROM employees, titles WHERE employees.emp_no=titles.emp_no AND titles.title= %s;"
        cursor.execute(consulta,("Staff"))
        jefes = cursor.fetchall()
 
    # Recorrer e imprimir
        for dato in jefes:
            print(dato)
except (pymysql.err.OperationalError, pymysql.err.InternalError) as e:
    print("Ocurrió un error al conectar: ", e)

5to Ejercicio
Agregar el departamento Cienca de Datos

In [ ]:
INSERT INTO `departments`(`dept_no`, `dept_name`) VALUES ('d010','Cienca de Datos');

6to Ejercicio
Agregar el empleado "Pepe" y hacerlo jefe ("manager") del departamento Cienca de Datos.

In [ ]:
INSERT INTO `employees`(`emp_no`, `birth_date`, `first_name`, `last_name`, `gender`, `hire_date`) VALUES ('500000','11-02','Pepe','Pepe','M','01-11-2021');
INSERT INTO `dept_manager`(`emp_no`, `dept_no`, `from_date`, `to_date`) VALUES ('500000','d010','01-11-2021','');

7mo Ejercicio
Borrar el empleado "Pepe".

In [ ]:
DELETE FROM `employees` WHERE `emp_no`=500000
DELETE FROM `dept_manager` WHERE `emp_no`=500000

8vo Ejercicio
Obtener el promedio de salarios por departamento.

In [ ]:
SELECT AVG(salaries.salary) AS 'Promedio', dept_emp.emp_no as 'Nro Dpto' FROM salaries, dept_emp WHERE salaries.emp_no=dept_emp.emp_no;

9no Ejercicio
Compartir el código en Python para crear en MongoDB una base de datos denominada "weatherHistory" y una colección con el mismo nombre. Cargar los datos del archivo csv denominado weatherHistory.csv

In [ ]:
from pymongo import MongoClient
import json
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["weatherHistory"]
mycol = mydb["weatherHistory"]
with open('weatherHistory.csv') as file:
     data = json.load(file)

10mo Ejercicio
Compartir el código en en Python que devuelva la cantidad de registros insertados en la colección anterior.